section {
    background-color: brown;
    height: 300px;
    border: solid black 1px;
}

.header {
    background-color: black;
    padding: 20px;
     
}

.header h1 {
    color: white;
    font-size: 50px; 
    display: inline-block;
  
    
}
 .header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;

 }

 .header nav ul {
    list-style-type: none;
 }

 .header nav ul li {
    display: inline-block;
    margin-left: 25px;
    
 }

 a {
    color: white;
    text-decoration: underline;
    

 }

section  {
    background-color: #ffffff;
    height: 100 px;
}


body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

main section .profile-pic {
    max-height: 252px;
    margin-top: 2px;
    margin-left: 40px;
    border-radius: 50%

}

.horiseon {
    display: flex;
    height: 261px;
    width: 600px;
}
    

#about-me {
    display: flex;
    align-items: center;

    
}

#about-me h2 {
    margin-left: 72px;
    font-size: 35px;
    color: rgb(8, 8, 8);
   
}

#work {
    display: flex;
    align-items: center
    
}


#work h2 {
    margin-left: 83px;
    font-size: 35px;
    color: rgb(8, 8, 8);
    
    
}

.big-box {
    width: 600px;
    height: 261px;
    margin: 2px 2px 2px 180px;
    background-color: purple;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.small-box-container {
    
    display: flex;    
    flex-wrap: wrap;
    width: 600px;

}

.code-refactoring {
    color:white;
    font-size: 25px;
    margin-left: 180px;
    margin-bottom: 110px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    


}

h3 {
    align-items: center;
    color: WHite;
    display: flex;
}



.small-box {
    width: 200px;
    height: 100px;
    background-color: purple;
    margin: 5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}





.background {
    background-image: url("../images/pngtree-futuristic-shape-abstract-background-chemistry-technology-concept-for-website-image_438818.jpg");
    background-size: cover; /* Resize the background image to cover the entire container */
    display: flex;
    align-items: center;

}

#about-me p {
    margin: 10%;
    color: rgb(16, 81, 221);
}



.vl1{
border-left: 2px solid rgb(19, 19, 18);
    height: 298px;
    display: flex;
    margin-left: 4%
}



.full-stack-web-developer {
    position: absolute;
    top: 400px;
    right: 50px;
    color: white;
    font-size: 30px;
}

footer {
    height: 200px;
    background-color: black;
    color: white;
}



footer ul li {
    margin: 6%;
    display: inline-flex;
    justify-content: center;
    justify-content: space-evenly;

}


#contact h2 {
    margin-left: 77px;
    margin-top: 75px;
    font-size: 35px;
    
    
}

#contact nav ul li {
    display: flex;
    align-items: center;
    justify-content:space-around;

}

.contact-info {
    margin: 80px;
    margin-top:90px;
   
    
}

#contact{
    display: flex;
    
}

.info{
    margin-left: 70px;
}

.vl {
    border-left: 2px solid rgb(247, 246, 242);
    height: 200px;
    display: flex;
    margin-left: 2%

}

.workContainer {
   display: flex;
   width: 100%;
   flex-wrap: nowrap;
}

@media screen and (min-width:800px) {
   
    #work {
        flex-wrap: nowrap;
        height: 50vh;

    }

    .workContainer {
        flex-wrap: nowrap;
    }
.big-box {
    margin:auto;

}

.vl1 {
    height:100%;
    
}
    
}